<section class="container criar-notas ff-inter">
  <header class="header">
    <h2>Adicione uma nota nova</h2>
  </header>
  <form action="" class="form-nota">
    <label for="nota">Nota</label>
    <input type="textarea" class="input ff-inter" id="nota" name="nota" placeholder="Digite uma anotação">

    <label for="autoria">Autoria ou fonte</label>
    <input type="textarea" class="input ff-inter" id="autoria" name="autoria" placeholder="Digite o autor">

    <section class="modelo_nota">


      <div class="modelo modelo1 ff-inter">
        <p class="conteudo">Aqui vai o conteudo</p>
        <p class="autoria"><b>Aqui vai a autoria</b></p>
        <div class="acoes_modelo">
          <button>Editar</button>
        </div>
      </div>

      <div class="modelo modelo2 ff-inter">
        <p class="conteudo">Aqui vai o conteudo</p>
        <p class="autoria"><b>Aqui vai a autoria</b></p>
        <div class="acoes_modelo">
          <button>Editar</button>
        </div>
      </div>

      <div class="modelo modelo3 ff-inter">
        <p class="conteudo">Aqui vai o conteudo</p>
        <p class="autoria"><b>Aqui vai a autoria</b></p>
        <div class="acoes_modelo ff-inter">
          <button>Editar</button>
        </div>
      </div>



    </section>

    <div class="acoes">
      <button class="btn_acoes ff-inter">
        Salvar
      </button>
      <button class="btn_acoes ff-inter">
        Cancelar
      </button>
    </div>

  </form>


</section>
